<template>
    <div>
        <div v-if="loading" class="loading">
            <img src="../assets/logo.svg" />
        </div>
        <div v-if="!loading" class="row p-strip">
            <h1>{{title}}</h1>

            <div class="row">
                <div class="col-small-2 col-3 u-align--center" v-for="mon in pokemon" :key="mon.name">
                    <router-link :to="{
                        name: 'pokemon',
                        params: {
                            group: $route.params.group,
                            name: mon.name
                        }
                        }">
                        <img v-if="mon.image" v-lazy="mon.image" :alt="mon.title" />
                        <p>
                            {{mon.number}}: {{mon.title}}
                        </p>
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue';
import promiseLimit from 'promise-limit';
import * as Pokedex from 'pokeapi-js-wrapper';

import { lang, titleCase } from '@/helpers';

export default {
    name: 'Pokedex',
    head: {
        title: function() {
            return {inner: titleCase(this.$route.params.group)};
        },
    },
    data() {
        return {
            loading: true,
            pokemon: [],
            images: {},
            title: 'Pokédex',
        };
    },
    mounted() {
        this.refresh();
    },
    methods: {
        async refresh() {
            this.loading = true;
            const P = new Pokedex.Pokedex();
            const group = await P.getVersionGroupByName(this.$route.params.group);
            const pokedex = await P.getPokedexByName(group.pokedexes[0].name);

            this.title = lang(pokedex.descriptions).description;
            this.pokemon = await pokedex.pokemon_entries.map((pokemon) => ({
                title: titleCase(pokemon.pokemon_species.name),
                name: pokemon.pokemon_species.name,
                number: pokemon.entry_number,
            }));

            this.loading = false;

            const limit = promiseLimit(10);
            this.pokemon = await Promise.all(this.pokemon.map((pokemon) => limit(async () => {
                const species = await P.getPokemonSpeciesByName(pokemon.name);
                const defaultVariety = species.varieties.find((variety) => variety.is_default);
                const details = await P.getPokemonByName(defaultVariety.pokemon.name);

                let image = encodeURI(details.sprites.front_default).replace('http://', '').replace('https://', '');
                image = `https://images.weserv.nl/?url=${image}`;

                return {
                  ...pokemon,
                  image,
                };
            })));
        },
    },
};
</script>
