<template>
    <div>
        <div v-if="!pokemon" class="loading">
            <img src="../assets/logo.svg" />
        </div>
        <div class="row" v-if="pokemon">
            <div class="p-strip">
                <h1>{{pokemon.title}}</h1>
                <img :src="pokemon.sprites.front_default" :alt="pokemon.title" />
            </div>

            <div>
                <h2>Evolution</h2>
                <ul class="p-list-tree">
                    <evolution-link :evolution="pokemon.evolutions.chain" :group="$route.params.group" />
                </ul>
            </div>

            <div class="row">
                <div class="col-6 p-strip">
                    <h2>Moves</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Move</th>
                                <th>Method</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="move in pokemon.moves" :key="move.name">
                                <td>{{move.title}}</td>
                                <td>{{move.method}}</td>
                                <td>{{move.levelLearned}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-6 p-strip">
                    <h2>Encounters</h2>
                    <table v-if="pokemon.encounters.length > 0">
                        <thead>
                            <tr>
                                <th>Version</th>
                                <th>Method</th>
                                <th>Chance</th>
                                <th>Level</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="encounter in pokemon.encounters">
                                <td v-if="encounter.area" colspan="4">
                                    <b>{{encounter.title}}</b>
                                </td>
                                <td v-if="!encounter.area">{{encounter.versionTitle}}</td>
                                <td v-if="!encounter.area">{{encounter.methodTitle}}</td>
                                <td v-if="!encounter.area">{{encounter.chance}}%</td>
                                <td v-if="!encounter.area">
                                    <span v-if="encounter.minLevel == encounter.maxLevel">
                                        {{encounter.minLevel}}
                                    </span>
                                    <span v-else>
                                        {{encounter.minLevel}} - {{encounter.maxLevel}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div v-else>
                        None
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import * as Pokedex from 'pokeapi-js-wrapper';

import EvolutionLink from '@/components/EvolutionLink';
import { lang, titleCase } from '@/helpers';

function moveSort(a, b) {
    if (a.levelLearned > b.levelLearned) {
        return 1;
    }
    if (a.levelLearned < b.levelLearned) {
        return -1;
    }
    if (a.method > b.method) {
        return 1;
    }
    if (a.method < b.method) {
        return -1;
    }
    if (a.name > b.name) {
        return 1;
    }
    if (a.name < b.name) {
        return -1;
    }
    return 0;
}

export default {
    name: 'Pokemon',
    components: {EvolutionLink},
    head: {
        title: function() {
            let title = titleCase(this.$route.params.name);
            if (this.pokemon) {
                title = this.pokemon.title;
            }

            return {inner: `${title} - ${titleCase(this.$route.params.group)}`};
        },
    },
    data() {
        return {
            pokemon: null,
        };
    },
    mounted() {
        this.refresh(this.$route.params.group, this.$route.params.name);
    },
    methods: {
        async refresh(groupName, name) {
            const P = new Pokedex.Pokedex();

            const [group, species] = await Promise.all([
                P.getVersionGroupByName(groupName),
                P.getPokemonSpeciesByName(name),
            ]);
            const versions = group.versions.map((version) => version.name);
            const defaultVariety = species.varieties.find((variety) => variety.is_default);
            const pokemon = await P.getPokemonByName(defaultVariety.pokemon.name);

            let moves = pokemon.moves.map((move) => {
                const details = move.version_group_details.find((g) => g.version_group.name == groupName);
                if (details) {
                    return {
                        name: move.move.name,
                        title: titleCase(move.move.name),
                        levelLearned: details.level_learned_at,
                        method: titleCase(details.move_learn_method.name),
                    };
                }

                return null;
            }).filter(Boolean);
            moves.sort(moveSort);

            let encounters = await P.resource(pokemon.location_area_encounters);
            encounters = encounters.filter((encounter) => encounter.version_details.find((details) => versions.includes(details.version.name))).flatMap((encounter) => {
                const version_details = encounter.version_details.filter((details) => versions.includes(details.version.name));
                const details = version_details.flatMap((version_detail) => version_detail.encounter_details.map((encounter_details) => ({
                    version: version_detail.version.name,
                    versionTitle: titleCase(version_detail.version.name),
                    method: encounter_details.method.name,
                    methodTitle: titleCase(encounter_details.method.name),
                    minLevel: encounter_details.min_level,
                    maxLevel: encounter_details.max_level,
                    chance: encounter_details.chance,
                })));

                return [{
                    name: encounter.location_area.name,
                    title: titleCase(encounter.location_area.name.replace('-area', '')),
                    area: true,
                }, ...details];
            });

            const evolutions = await P.resource(species.evolution_chain.url);

            this.pokemon = {
                ...pokemon,
                title: titleCase(pokemon.name),
                moves,
                encounters,
                evolutions,
            };
        },
    },
    watch: {
        '$route': function(to) {
            this.refresh(to.params.group, to.params.name);
        }
    }
};
</script>
