<template>
    <div class="row">
        <h1 class="p-strip">
            Type Chart
            <span v-if="$route.params.gen == 1">(Gen 1)</span>
            <span v-else-if="$route.params.gen == 2">(Gen 2-5)</span>
            <span v-else>(Gen 6+)</span>
        </h1>

        <table class="types p-strip">
            <thead>
                <tr>
                    <th class="u-align--center">
                        <div>DEF →</div>
                        <div>ATK ↓</div>
                    </th>
                    <th v-for="type in types" class="u-align--center">{{type|titleCase}}</th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(defenses, attack) in typeChart">
                    <td>{{attack|titleCase}}</td>
                    <td v-for="(defense, type) in defenses" class="u-align--center" :class="defense|defenseClass">
                        <span v-if="defense == 0.5">&frac12;</span>
                        <span v-if="defense > 1 || defense === 0">{{defense}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import gen1 from '@/assets/types-gen1.json';
import gen2 from '@/assets/types-gen2.json';
import gen6 from '@/assets/types-gen6.json';

export default {
    name: 'Types',
    head: {
        title: function() {
            let title = 'Types Gen 6+';
            if (this.$route.params.gen == 2) {
                title = 'Types Gen 2-5';
            }
            else if (this.$route.params.gen == 1) {
                title = 'Types Gen 1';
            }

            return {inner: title};
        },
    },
    data() {
        return {
            types: [],
            typeChart: {},
        };
    },
    mounted() {
        this.load(this.$route.params.gen);
    },
    methods: {
        load(gen) {
            if (gen == 1) {
                this.typeChart = gen1;
            }
            else if (gen == 2) {
                this.typeChart = gen2;
            }
            else {
                // TODO new type chart
                this.typeChart = gen6;
            }

            this.types = Object.keys(this.typeChart);
        },
    },
    filters: {
        defenseClass(value) {
            return `defense-${String(value).replace('.', '-')}`;
        },
    },
    watch: {
        '$route': function(to) {
            this.load(to.params.gen);
        }
    },
};
</script>

<style scoped>
.types td {
    border-right: 1px solid #cdcdcd;
    padding-right: 0;
}

.types th {
    border-right: 1px solid #cdcdcd;
    text-align: center;
    padding-right: 0;
}

.types .defense-0 {
    background-color: #5d5d5d;
    color: #ffffff;
}

.types .defense-0-5 {
    background-color: #fc4949;
}

.types .defense-2 {
    background-color: #3fb24f;
}
</style>
