<template>
    <div>
        <div v-if="loading" class="loading">
            <img src="../assets/logo.svg" />
        </div>
        <div class="row p-strip">
            <h1>Games</h1>

            <ul class="p-list--divided">
                <li v-for="version in versions" :key="version.name">
                    <router-link :to="{ name: 'pokedex', params: {group: version.group} }" class="p-list__item">
                        {{version.title}}
                    </router-link>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import * as Pokedex from 'pokeapi-js-wrapper';

import { transformVersion } from '@/helpers';

export default {
    name: 'Versions',
    head: {
        title: {inner: 'Games'}
    },
    data() {
        return {
            loading: true,
            versions: [],
        };
    },
    mounted() {
        this.refresh();
    },
    methods: {
        async refresh() {
            this.loading = true;
            const P = new Pokedex.Pokedex();
            const versionList = await P.getVersionsList();
            const versions = await Promise.all(versionList.results.map((version) => P.getVersionByName(version.name)));

            this.versions = versions.map(transformVersion);
            this.loading = false;
        },
    },
};
</script>
