<template>
    <!-- TODO baby info & baby item trigger -->

    <li class="p-list-tree__item" v-if="evolution">
        <router-link :to="{ name: 'pokemon', params: {group: group, name: evolution.species.name} }">
            {{evolution.species.name|titleCase}}
        </router-link>

        <!-- TODO see if there is a case for more than one details -->
        <span v-if="evolution.evolution_details[0]">
            - {{evolution.evolution_details[0].trigger.name|titleCase}}

            <!-- TODO more detail types here -->
            <span v-if="evolution.evolution_details[0].min_level">
                ({{evolution.evolution_details[0].min_level}})
            </span>
            <span v-if="evolution.evolution_details[0].item">
                ({{evolution.evolution_details[0].item.name|titleCase}})
            </span>
            <span v-if="evolution.evolution_details[0].held_item">
                (Holding {{evolution.evolution_details[0].held_item.name|titleCase}})
            </span>
            <span v-if="evolution.evolution_details[0].time_of_day">
                (At {{evolution.evolution_details[0].time_of_day|titleCase}})
            </span>
            <span v-if="evolution.evolution_details[0].min_happiness">
                (At friendship level {{evolution.evolution_details[0].min_happiness}})
            </span>
        </span>

        <ul class="p-list-tree">
            <evolution-link v-for="e in evolution.evolves_to" :evolution="e" :group="group" />
        </ul>
    </li>
</template>

<script>
export default {
    name: 'EvolutionLink',
    props: ['evolution', 'group'],
};
</script>
