<template>
    <div id="app">
        <header id="navigation" class="p-navigation">
            <div class="row p-navigation__row">
                <div class="p-navigation__banner">
                    <!-- TODO fix space issue between this and the first nav link -->
                    <div class="p-navigation__logo">
                        <router-link :to="back" class="p-navigation__link">
                            <img class="p-navigation__image" src="./assets/back.svg" v-if="showBack" />
                            <img class="p-navigation__image" src="./assets/logo.svg" />
                        </router-link>
                    </div>

                    <a class="p-navigation__toggle--open" :class="{'u-hide': showMenu}" @click="showMenu = true">
                        Menu
                    </a>
                    <a
                        class="p-navigation__toggle--close"
                        :class="{'u-show': showMenu}"
                        id="close"
                        @click="showMenu = false"
                    >
                        Close
                    </a>
                </div>

                <nav class="p-navigation__nav" :class="{'u-show': showMenu}">
                    <ul class="p-navigation__links" role="menu">
                        <li class="p-navigation__link p-subnav" :class="{'is-active': showVersionMenu}" role="menuitem">

                            <a class="p-subnav__toggle" @click="showVersionMenu = !showVersionMenu">
                                Pokédex
                            </a>

                            <ul class="p-subnav__items" :aria-hidden="showVersionMenu ? 'false' : 'true'">
                                <li v-for="version in versions" :key="version.name">
                                    <router-link :to="{ name: 'pokedex', params: {group: version.group} }" class="p-subnav__item">
                                        {{version.title}}
                                    </router-link>
                                </li>
                            </ul>
                        </li>

                        <li class="p-navigation__link p-subnav" :class="{'is-active': showTypeMenu}" role="menuitem">

                            <a class="p-subnav__toggle" @click="showTypeMenu = !showTypeMenu">
                                Types
                            </a>

                            <ul class="p-subnav__items" :aria-hidden="showTypeMenu ? 'false' : 'true'">
                                <li>
                                    <router-link :to="{ name: 'types', params: { gen: 6 } }" class="p-subnav__item">
                                        Gen 6+
                                    </router-link>
                                    <router-link :to="{ name: 'types', params: { gen: 2 } }" class="p-subnav__item">
                                        Gen 2-5
                                    </router-link>
                                    <router-link :to="{ name: 'types', params: { gen: 1 } }" class="p-subnav__item">
                                        Gen 1
                                    </router-link>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <router-view/>

        <footer class="p-strip">
            <div class="row">
                <nav>
                    <ul class="p-inline-list--middot">
                        <li class="p-inline-list__item">
                            <a
                                href="https://bhdouglass.com/"
                                target="_blank"
                            >
                                Created by Brian Douglass
                            </a>
                        </li>
                        <li class="p-inline-list__item">
                            <a
                                href="https://gitlab.com/bhdouglass/pokedex"
                                target="_blank"
                            >
                                Fork this on GitLab
                            </a>
                        </li>
                        <li class="p-inline-list__item">
                            Pokémon and Pokémon character names are trademarks of Nintendo.
                        </li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>
</template>

<script>
import * as Pokedex from 'pokeapi-js-wrapper';

import { transformVersion } from '@/helpers';

export default {
    name: 'App',
    data() {
        return {
            showMenu: false,
            showVersionMenu: false,
            showTypeMenu: false,
            back: {name: 'versions'},
            showBack: false,
            versions: [],
        };
    },
    mounted() {
        this.updateBackLink(this.$route);
        this.refresh();
    },
    methods: {
        async refresh() {
            const P = new Pokedex.Pokedex();
            const versionList = await P.getVersionsList();
            const versions = await Promise.all(versionList.results.map((version) => P.getVersionByName(version.name)));

            this.versions = versions.map(transformVersion);
        },
        updateBackLink(route) {
            if (route.name == 'pokemon') {
                this.showBack = true;
                this.back = {name: 'pokedex', params: {group: route.params.group}};
            }
            else if (route.name == 'pokedex') {
                this.showBack = true;
                this.back = {name: 'versions'};
            }
            else {
                this.showBack = false;
                this.back = {name: 'versions'};
            }
        },
    },
    watch: {
        $route: function(to) {
            this.showMenu = false;
            this.showVersionMenu = false;
            this.showTypeMenu = false;

            this.updateBackLink(to);
        },
    },
};
</script>

<style>
@media screen and (min-width: 768px) {
    .p-subnav__item {
        padding: 0 0.5em;
    }

}

.p-list-tree .p-list-tree {
    display: inherit;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.loading {
    height: 3em;
}

.loading img {
    animation: spin 2s linear infinite;
    position: absolute;
    top: 4em;
    left: 50%;
    margin-left: -1.5em;
    width: 3em;
    height: 3em;
}
</style>
